/* Created by: Evgeny Vovk
* Created on: Fab 2022
* This CSS file defines the style for index.html ICS2O-Unit1-07-HTML
*/

body {
  background-color: darkorange;
}

h4 {
  background-color: red;
  margin-right: 40em;
  border: 3px solid black;
}
